name: Java CI

on: [push]

permissions:
  id-token: write
  contents: read
  checks: write
  pull-requests: write

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main') }}

jobs:
  build-and-run-unit-tests:
    runs-on: arc-4-cores-ondemand-staging-arm
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Set up Maven
        run: |
          sudo apt-get update
          sudo apt-get install -y maven
          mvn --version

      - name: Scalafmt Check
        run: mvn scalafmt:check

      - name: Build and Test Maven Artifacts
        run: mvn -B -ntp clean package

      - name: Publish Unit Test Results
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Unit Test Results
          path: 'target/surefire-reports/TEST-*.xml'
          reporter: java-junit
          fail-on-error: false
          fail-on-empty: false
